.vc-toggle-container * {
  font-family: Arial;
  transition: 0.15s ease-out;
}

/*.vc-toggle-container {
  padding: 50px;
}*/

.vc-small-switch {
  width: 65px;
  height: 25px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 18px;
  cursor: pointer;
}

.vc-switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.vc-switch-label {
  position: relative;
  display: block;
  height: 25px;
  font-size: 11px;
  font-weight: 300;
  background: #d1d3d4;
  border-radius: 18px;
}

.vc-switch-label:before,
.vc-switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1.1;
}

.vc-switch-label:before {
  content: attr(data-off);
  right: 12px;
  color: white;
}

.vc-switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  opacity: 0;
}

.vc-switch-input:checked ~ .vc-switch-label {
  background: #38cf5b;
}

.vc-switch-input:checked ~ .vc-switch-label:before {
  opacity: 0;
}

.vc-switch-input:checked ~ .vc-switch-label:after {
  opacity: 1;
}

.vc-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width: 15px;
  height: 15px;
  transition: 0.15s ease-out;
}

.vc-switch-label:active ~ .vc-switch-handle,
.vc-switch-handle:active {
  width: 30px;
}

.vc-switch-input:checked ~ .vc-switch-handle {
  left: auto;
  right: 5px;
}
